.card {
    box-shadow: 0 0 5px rgb(173, 173, 173);

}

.card_hover {
    transform: scale(1.2);
}

.card_header {
    padding: 10px;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card_price {
    margin: 1px;
    padding: 40px 10px;
    color: white;
    font-size: 48px;
}

span {
    font-size: 14px;
}

.card_speed {
    padding: 20px 10px;
    margin: 1px;
    color: rgb(100, 99, 99);

}

.card_info {
    padding: 15px 10px;
    margin: 1px;
    color: rgb(100, 99, 99);
    background-color: rgb(233, 233, 233);
}